<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDex</title>
</head>
<body>
    <header>
        <h2>Welcome to MovieDex!</h2>
    </header>
    
    <nav>
        <a href="./movies/new">New Movie</a>
        <a href="./movies">View Library</a>
    </nav>

    <article>
        <p>Tired of wondering what movies you have laying on your shelves? Heres a time consuming way to populate them all into a website!</p>
    </article>

</body>
</html>