body {
    background-color: salmon;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(128, 128, 128, 0.555);
}

.deletebtn {
    color: red;
}

header {
    color: white;
    font-size: large;
}

footer {
    display: inline-flex;
}

a {
    text-decoration: none;
    color: white;
}
