<!-- Made a new movies/index ejs, using the UL/LI formatting instead of Th/TB format to try to get ID working -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>MovieDex</title>
</head>
<body>
    <h1>Movies Index</h1>

    <nav>
        <a href="./movies/new">Add Movie</a>
        <a href="../">Home</a>
    </nav>

    <ul>
        <% movies.forEach(function(movie, idx) { %>
            <li>
                    
                    <a href="/movies/<%= movie._id %>"><%= movie.title %></a> 
                    <!-- bang bang, did the thang (now have clickable links) -->
                    <!--  TODO; now need to create the show function -->
                    - 
                <%= movie.rating %>
                
                
            </li>
        <% }); %>
    </ul>

</body>
</html>